// Dimensiones
$max-width: 1200px;
$min-width : 320px;

$header-height: 80px;

// Paleta de colores
$palette-primary-color: #6e6d7a; 
$palette-second-color:  #cdcdd4;
$palette-third-color: #edeef0;
$background-light: #F9F8FD; //dribble

// Color de fuente
$font-primary-color: #6e6d7a;
$font-dark-color: #222;

// @import "materialize/material-icons"; 

@import "base/_base";
@import "layout/layout";

@import "components/_logo";
@import "components/_navigation-bar";
@import "components/_menu";
@import "components/main";

