
.l-container{
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    // background: lightblue;
    // border: 1px solid blue;
}