.brand{
    padding: 3rem 0 2.5rem;
}
.brand.fixed{
    display: none;
}
.brand-title{
    color:transparent;
    line-height: 0;
    margin: 0;
    text-indent: -9999px;
}

.brand-logo{
    font-weight: normal;
    font-size: 2.7rem;
    position: relative;
    margin: 0 auto 0;
    font-family: "Playlist Script", sans-serif;
    font-weight: normal;
    color: rgba($font-dark-color, 1);
    text-align: center;
    background: transparent url("../src/svg/canvas.svg") center center no-repeat;
    // border: 1px dashed lightcoral;
    background-size: 7.2em;
    background-position: center .4em;
    &::after{
        position: relative;
        top: -0.08em;
        left: 0.08em;
        display: inline-block;
        font-size: 2.1em;
        // border: 1px dashed lightgreen;
        content: "Osito";
        text-indent: -9999px;
        width: 1em;
        color: transparent;
        background: transparent url("../src/svg/osito.svg") center center no-repeat;
        background-size: contain; 
        z-index: 0;       
    } 
}

.brand-logo::first-letter{
    font-size: 220%;
    // background: rgba(lightblue,.25);
}

.brand-logo-memories{
    // outline: 1px solid lightblue;
    position: absolute;
    top: .4em;
}
.brand-logo-moments{
    // color: lightcoral;
    // outline: 1px solid lightgreen;
    position: relative;
    top: .3em;
    right: .2em;
}

.brand-logo-and{
    // outline: 1px solid lightslategray;
    font-size: .65em;
    position: relative;
    top: .3em;
    left: .3em;
}


