$burger-icon-line-width: 18px;
$burger-icon-line-height: 2.4px;

// Button & buger icon
.menu-button{
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;    
    position: relative;
    outline: none;
    height: 2rem;
    border: none;
    cursor: pointer;
    &.open .menu-button__icon{
        display: none;
    }
    &.open .menu-button__icon-close{
        display: block;
    }
}

.menu-button__icon
{
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $burger-icon-line-width;
    height: $burger-icon-line-height;
    background-color: $palette-primary-color;
    border-radius: 6px;
    &::before,
    &::after{
        content: "";
        position: absolute;
        width: $burger-icon-line-width;
        height: $burger-icon-line-height;
        background-color: $palette-primary-color;
        border-radius: 6px;
    }
    &::before{
        transform: translateY(-6px);
    }
    &::after{
        transform: translateY(6px);
    }

}

.menu-button__icon-close{
    display: none;
    color: $palette-primary-color;
    font-size: 2rem;
    text-align: center;
}


// Nav bar & menu items
.menu-nav{
    display: none;
    padding-top: 1.2rem;
    &.open{
        display: block;
    }
}
.menu__item{
    border-bottom: 1px solid rgba($palette-second-color, .9);
}
.menu__item.selected .menu__link{
    &::after{
        transform: rotate(180deg);
    }
}
.menu__link{
    font-weight: bold;
    color: $font-primary-color;
    display: block ;
    line-height: 1.8rem;
    padding: .8rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 3px;
    &::after{
        --width : 16px;
        content: "";
        width: var(--width);
        background: transparent url("../src/svg/caret-down.svg") center right no-repeat;
        transition: transform .15s ease-in-out;

    }
}

// Submenu

.submenu-panel-container{
    // background-color: rgba($palette-third-color,.3);
    /*Tres: el primer valor se aplica a arriba, el segundo valor a derecha e izquierda y el tercer valor se aplica a abajo del elemento.*/
    // padding: .5rem 1rem 1.5rem; 
    padding: .5rem 0 1.5rem; 
    display: none;
}

.submenu__item{
    // border: 1px dashed lightblue;   
    padding: 0;    
}

.submenu__link{
    color: $palette-primary-color;
    display: block;
    line-height: 2.5em;
    padding-left: 1rem;
}
.menu__item.selected  .submenu-panel-container{
    display: block;
}

.waves-effect.waves-color .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

